<h1>{{ name }}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{name}}</dd>

    <td>Edad: </td>
    <dd>{{age}}</dd>

    <td>Método: </td>
    <dd>{{getiHeroDescription()}}</dd>

    <td>Capitalizado: </td>
    <dd>{{capitalizedName}}</dd>
</dl>

<button
class="btn btn-primary mx-2"
(click)="changeHero()"
*ngIf="name !== 'Spiderman'">
    Cambiar Nombre
</button>

<button
class="btn btn-primary mx-2"
(click)="changeAge()"
*ngIf="age !== 25">

    Cambiar Edad
</button>

<button
class="btn btn-primary"
*ngIf="name === 'Spiderman' || age === 25"
(click)="ResetForm()">
    Reset
</button>
